
.social .socBox {
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 8px; 
  display: flex;
  align-items: center;
}

.social .socBox i {
  margin-right: 15px;
  font-size: 20px;
}

.social .socBox span {
  font-weight: 500;
  font-size: 16px; 
}

.social .socBox:nth-child(1) {
  background-color: #3b5998;
}

.social .socBox:nth-child(2) {
  background-color: #bd081c;
}

.social .socBox:nth-child(3) {
  background-color: #1da1f2;
}

.social .socBox:nth-child(4) {
  background-color: #c32aa3;
}

.social .socBox:nth-child(5) {
  background-color: #ff0000;
}


.subscribe {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 8px; 
}

.subscribe h1 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}

.subscribe input {
  width: 100%;
  padding: 10px;
  margin-top: 10px; 
}

.subscribe button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #ff0000;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* Banner */
.banner img {
  margin: 40px 0;
  width: 100%;
  max-width: 445px;
  height: auto; 
  border-radius: 8px;
}

/* Category */
.catgorys .category1 {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
}

/* Gallery */
.gallery .img {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-bottom: 15px;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .social .socBox {
    flex-direction: column;
    text-align: center;
  }

  .subscribe input,
  .subscribe button {
    padding: 12px;
  }

  .banner img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .gallery .img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .subscribe h1 {
    font-size: 18px;
  }
}
